@model AliveBlog.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
           @foreach (var post in Model.BannerPosts)
           {
                <div class="first-slot">
                <div class="masonry-box post-media">
                    @if (post.FeaturedImageUrl != null)
                    {
                        <img src="~/FeaturedImages/@post.FeaturedImageUrl" alt="" class="img-fluid">
                    }
                    else
                    {
                        <img src="~/FeaturedImages/DefaultFeaturedImage.jpg" alt="" class="img-fluid">
                    }
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="tech-category-01.html" title="">Technology</a></span>
                                <h4><a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug">@post.Title</a></h4>
                                <small><a >@post.PublishedOn</a></small>
                                <small><a >@post.Author.UserName</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end first-side -->
           }
            
        </div><!-- end masonry -->
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        @foreach (var post in Model.RecentPosts)
                        {
                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug">
                                            @if (post.FeaturedImageUrl != null)
                                            {
                                                <img src="~/FeaturedImages/@post.FeaturedImageUrl" alt="" class="img-fluid">
                                            }
                                            else
                                            {
                                                <img src="~/FeaturedImages/DefaultFeaturedImage.jpg" alt="" class="img-fluid">
                                            }
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                    <h4><a asp-area="" asp-controller="Blog" asp-action="Post"
                                            asp-route-slug="@post.Slug" title="@post.Title">@post.Title</a></h4>
                                    <p>@post.Excerpt</p>
                                    @{
                                                int i = 0;
                                            }
                                            @foreach (var category in post.PostCategories)
                                            {
                                                if (i < 1)
                                                {
                                                    <small class="firstsmall"><a class="bg-orange" title="@category.Category.Title">@category.Category.Title</a></small>
                                                }
                                                i++;
                                                break;
                                            }
                                    <small><a>@post.PublishedOn</a></small>
                                    <small><a>@post.Author.UserName</a></small>
                                </div><!-- end meta -->
                        </div><!-- end blog-box -->
                        <hr class="invis">
                        }

                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Follow Us</h2>

                        <div class="row text-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button facebook-button">
                                    <i class="fa-brands fa-facebook"></i>
                                    <p>27k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button twitter-button">
                                    <i class="fa-brands fa-twitter"></i>
                                    <p>98k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button google-button">
                                    <i class="fa-brands fa-google-plus"></i>
                                    <p>17k</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                <a href="#" class="social-button youtube-button">
                                    <i class="fa-brands fa-youtube"></i>
                                    <p>22k</p>
                                </a>
                            </div>
                        </div>
                    </div><!-- end widget -->

                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>